body {
  font-family: 'pt serif' times serif;
  background-image: url("/imgs/bgr_texture.png");
  font-size: 18px;
  color: #333332;
}

h2 {
  font-family: 'source sans pro' helvetica sans-serif;
  font-size: 40px;
  color: #333332;
}

h3 {
  font-family: 'source sans pro' helvetica sans-serif;
  font-size: 28px;
  color: #333332;
}

a {
  color: #6C6A6A;
  text-decoration: none;
}
a:hover {
  color: black;
}

/* nav styles */
.nav {
  margin-top:10px;
  margin-bottom: 13px;
}
.nav a {
  font-family: helvetica;
  font-size: 14px;
}
.nav li {
  display: inline-block;
  list-style: none;
  padding-right: 15px;
  line-height: 1.6em;
}
ul {
  padding-left: 0px; 
  margin-top: 0px;
}
#header {
  border-bottom: 5px #C2C2C2 solid;
  margin-top: 26px;
  margin-bottom: 0px;
}

/* Post Styles */

.post_container ul {
  list-style: none;

}

.posts {
  padding-left: 20px;
  padding-top: 20px;
}

.post_block {
  border-bottom: 1px solid #C2C2C2;
  margin-bottom: 0px;
}

.post_block:hover {
  background-color: #EDEDED;
  border-bottom: inset 5px #c2c2c2 solid;
}

.post_title {
  font-size: 32px;
  font-family: 'source sans pro' helvetica sans-serif;
  font-weight: 900;
}

.post_date {
  font-size: 20px;
  color: grey;
  margin: 5px 0;
}

/* footer styles */

.contact p {
  line-height: 24px; 
}

/* note Styles */
.note_info h4 {
  margin-bottom: 5px;
}
.note_info p {
  margin: 5px 0;
}

.note_container {
  margin-top: 20px;
}

.note {
  font-size: 22px;
  line-height: 32px;
}

.note ol {
  display: block;
  list-style-type: decimal;
  list-style-position: inside;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  background-color: #F1F1F1;
  padding: 10px 24px;
  border-radius: 8px;
}

code {
  background-color: grey;
  color: white;
  padding: 3px 10px;
  border-radius: 8px;
  font-size: 18px;
}
